body {
  background-image:url('../images/grey.png');
}

html, body {
  height: 100%;
}

.post {
  padding-top:0px;
}

.post h2 {
  margin-bottom:0px;
}

.post-date {
  color:#AAA;
}

.badge a {
  color:white;
}

.footer {
  text-align:center;
}

.content {
  min-height:400px;
}

.sidebar-nav {
  padding:9px 0;
}

.label-date
{
  width:12ex;
}

.label-project
{
  width:10ex;
}

.header-image
{
  text-align:center;
}

.img-header
{
  vertical-align:middle;
}

.hero-unit-tight
{
  padding:20px;
}

.lead-header
{
  position:relative;
  height:180px;
  margin-bottom:0px;
}

.lead-header-content
{
  position:absolute;
  top:50%;
  height:4em;
  margin-top:-2em;
}.
